<a href="https://colab.research.google.com/github/sakuragi-zero/yatteiki/blob/master/Data_pipeline/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark > /dev/null

In [ ]:
import numpy as np
import pandas as pd # data processing, CSV file 
import os

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
#データの指定
spark = SparkSession.builder.appName('titanic.csv').getOrCreate()

In [ ]:
class CFG:
  TRAIN_PATH = '/content/titanic.csv'

read data!

In [ ]:
train = spark.read.option('header', 'True').csv(CFG.TRAIN_PATH)

print(train.count())
train.show(5)

714
+---+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+
|_c0|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|
+---+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+
|  0|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|
|  1|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|
|  2|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|
|  3|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|
|  4|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|
+---+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+
only showing top 5 rows

テーブルの登録

In [ ]:
train.createOrReplaceTempView('train')

EDA with Pyspark

In [ ]:
sample = spark.sql('''
                  select * from train limit 100
''')
sample.show()

+---+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+
|_c0|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|
+---+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+
|  0|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|
|  1|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|
|  2|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|
|  3|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|
|  4|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|
|  6|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|
|  7|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|
|  8|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|
|  9|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|
| 10|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|
| 11|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|
| 12|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|
| 13|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|
| 14|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|
| 15|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|
| 16|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|
| 18|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|
| 20|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0|
| 21|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|
| 22|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923| 8.0292|
+---+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+
only showing top 20 rows

pandas DataFrameに格納

In [ ]:
df_train = sample.toPandas()
print(df_train.shape)
df_train.head()

(100, 11)

,_c0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05